@model List <@MVC.Models.Room>

    @*we link to th css file either*@

@*<link href="~/Content/MyDesign/RoomsStyle.css" rel="stylesheet" />*@

@*OR by doing bundle*@

@Styles.Render("~/RoomDesign")

<link href="~/Content/MyDesign/RoomDetails2.css" rel="stylesheet" />

@foreach(var item in Model)
 {
   <div class="continer">


     
   
   
   
   </div> 
    
   <div class="nav-divider">
  
               <div class="box">

                   
                       <li>

                           @Html.DisplayName("Room Name : ")
                           @item.rommName
                       </li>


                       <li>
                       
                           @Html.DisplayName("Location :")
                           @item.Location
                       </li>

                   
                   
                   <div class="button1"><a >@Html.ActionLink("RoomDetails", "GetDetails", new { @id = item.roomId }, new { @class = "btn btn-success" })</a> </div>


                   @*<a class="btn btn-success" , href="~/Room/GetDetails/@item.roomId">Details</a>*@

       </div>
   </div>
 }