@model List <@MVC.Models.Room>

    @*we link to th css file either*@

@*<link href="~/Content/MyDesign/RoomsStyle.css" rel="stylesheet" />*@

@*OR by doing bundle*@

@Styles.Render("~/RoomDesign")


@foreach(var item in Model)
 {
   <div class="continer">


     
   
   
   
   </div> 
    
   <div class="a"></div>
  
           <div class="box">

           <h4 class="group inner list-group-item-heading">
               @Html.DisplayName("Rome Name : ")
               @item.rommName
           </h4>
           <h4 class="group inner list-group-item-text">
               @Html.DisplayName("Location :")
               @item.Location
           </h4>
           <div>   <a>@Html.ActionLink("RoomDetails", "GetDetails", new { @id = item.roomId }, new { @class = "btn btn-success" })</a> </div>


           @*<a class="btn btn-success" , href="~/Room/GetDetails/@item.roomId">Details</a>*@

           </div>
 }