@model  List<MVC.Models.Student>



@Styles.Render("~/detail")





<table class="table">
    <tr>
        <th>@Html.DisplayName("Student Id") </th>
        <th> @Html.DisplayName("Student Name")  </th>
        <th>@Html.DisplayName("Student Number") </th>
    </tr>



    @foreach (var item in Model)
    {

        <div>



        <tr class="comp">
            <td>

                @Html.DisplayFor(modelItem => item.studentId)

            </td>



            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>



            <td>

                @Html.DisplayFor(modelItem => item.studentNo)
            </td>

        </tr>

        </div>

    }

</table>