@model  List<MVC.Models.Student>



@Styles.Render("~/detail")




@foreach (var item in Model)
{

   <div id ="qqw">
    

    


            @Html.DisplayName("Student Id :")
            @Html.DisplayFor(modelItem => item.studentId)

      

            @Html.DisplayName("Student Name :")
            @Html.DisplayFor(modelItem => item.studentName)
       
            @Html.DisplayName("Student Number :")
            @Html.DisplayFor(modelItem => item.studentNo)
      
    
      </div>
}

