<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/NavDesign")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <div id="container">
        <ul id="menu" >
            <li>
                <a href="/Home/Index">Home</a>
              
            </li>
            <li>
                <a href="/Teacher/GetDetails">Teachers</a>
                <ul>
                    <li><a href="/Teacher/GetDetails">Get details for teachers</a></li>
                    <li><a href="/Teacher/addTeacher">Add teachers</a></li>

                </ul>
            </li>
            <li>
                <a href="/Student/GetStudents">Students</a>
                <ul>
                    <li><a href="/Student/GetStudents">Get details for students</a></li>
                    <li><a href="/Student/Insert">Add students</a></li>

                </ul>
            </li>
            <li>
                <a href="/Room/RoomDetails">Rooms</a>
                <ul>
                    <li><a href="/Room/RoomDetails">Get room details</a></li>
                    <li><a href="/Room/Insert">Add a new Room</a></li>
                  
                </ul>
            </li>
            <li>
                <a href="/Course/List">Courses</a>
            
                <ul>
                    <li><a href="/Course/InsertCourse">content</a></li>
                </ul>
            
            
            </li>
        </ul>
   



       <div class="container body-content">
        @RenderBody()
       
        <footer>
            <p class="footer">&copy; @DateTime.Now - Programmer &copy;</p>
        </footer>
         </div>

      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        </div>
</body>
</html>
