<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/NavDesign")
</head>
<body>

    <div id="container">
        <ul id="menu">
            <li>
                <a href="/Home/Index">Home</a>
              
            </li>
            <li>
                <a href="/Student/Index">Teachers</a>
                <ul>
                    <li><a href="/Teacher/GetDetails">Get details for teachers</a></li>
                    <li><a href="/Teacher/addTeacher">Add teachers</a></li>

                </ul>
            </li>
            <li>
                <a href="/Student/Index">Students</a>
                <ul>
                    <li><a href="Student/GetStudents">Get details for students</a></li>
                    <li><a href="Student/Insert">Get details for students</a></li>

                </ul>
            </li>
            <li>
                <a href="Room/GetDetails">Rooms</a>
                <ul>
                    <li><a href="/Room/">Get room details</a></li>
                    <li><a href="/Room/InsertRoom">Add a new Room</a></li>
                  
                </ul>
            </li>
            <li>
                <a href="/Course/List">Courses</a>
            
                <ul>
                    <li><a href="/Course/InsertCourse">content</a></li>
                </ul>
            
            
            </li>
        </ul>
   



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Programmer.se</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
